/**
    Este fichero se utiliza en el video 18 con el nombre de 
    UD02_V016F01.css 
***/

body { background-color: #333333; color: #bbbaaa  }

h1 { font-family: "Arial", sans; }

a:visited { color:beige; }
